/Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
configure~
depcomp
install-sh
missing
safelease-*.tar.gz
safelease.spec
src/.deps/
src/Makefile
src/Makefile.in
src/safelease
src/safelease.o
stamp-h1
tmp.repos/
